In [110]:
import pandas as pd

In [111]:
# load Data
df = pd.read_csv(r'C:\Users\Batna\Documents\InternShip\Data\sales_data_sample.csv', encoding='latin1')

df.head()
print("Shape:", df.shape)
print("Rows:", len(df))
print("Columns:", df.shape[1])
print("Column names:", df.columns.tolist())
df.info()

Shape: (2823, 25)
Rows: 2823
Columns: 25
Column names: ['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER', 'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE', 'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [112]:
# check for missing values
df.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [113]:
df['STATE'] = df.groupby('CITY')['STATE'].transform(lambda x: x.fillna(x.mode()[0]) if not x.mode().empty else 'N/A')
df['TERRITORY'] =df.groupby('COUNTRY')['TERRITORY'].transform(lambda x: x.fillna(x.mode() [0]) if not x.mode().empty else 'N/A')
df['POSTALCODE'] =df.groupby('CITY') ['POSTALCODE'].transform(lambda x: x.fillna(x.mode() [0] )if not x.mode().empty else 'N/A')
df['TERRITORY'] = df.groupby('STATE')['TERRITORY'].transform(lambda x: x.fillna(x.mode()[0]) if not x.mode().empty else x)
df['TERRITORY'] = df.groupby('POSTALCODE')['TERRITORY'].transform(lambda x: x.fillna(x.mode()[0]) if not x.mode().empty else 'N/A')
#for group_col in ['COUNTRY','STATE','POSTALCODE']: df['TERRITORY']=df.groupby('group_col') ['TERRITORY'].transform(lambda x: x.fillna(x.mode()[0]) if not x.mode().empty else 'N/A')

In [114]:
# check for missing values
df.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE                  0
POSTALCODE             0
COUNTRY                0
TERRITORY              0
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [115]:
df = df.drop('ADDRESSLINE2', axis=1)
print("Shape:", df.shape)

Shape: (2823, 24)

In [116]:
print(df.columns.tolist())

['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER', 'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE', 'ADDRESSLINE1', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE']

In [117]:
df.head(50)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,N/A,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,26.47.1555,59 rue de l'Abbaye,Reims,N/A,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,N/A,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,N/A,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,6505551386,7734 Strong St.,San Francisco,CA,N/A,USA,N/A,Brown,Julie,Medium
5,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,N/A,Hirano,Juri,Medium
6,10180,29,86.13,9,2497.77,11/11/2003 0:00,Shipped,4,11,2003,...,20.16.1555,"184, chausse de Tournai",Lille,N/A,59000,France,EMEA,Rance,Martine,Small
7,10188,48,100.00,1,5512.32,11/18/2003 0:00,Shipped,4,11,2003,...,+47 2267 3215,"Drammen 121, PR 744 Sentrum",Bergen,N/A,N 5804,Norway,EMEA,Oeztan,Veysel,Medium
8,10201,22,98.57,2,2168.54,12/1/2003 0:00,Shipped,4,12,2003,...,6505555787,5557 North Pendale Street,San Francisco,CA,N/A,USA,N/A,Murphy,Julie,Small
9,10211,41,100.00,14,4708.44,1/15/2004 0:00,Shipped,1,1,2004,...,(1) 47.55.6555,"25, rue Lauriston",Paris,N/A,75016,France,EMEA,Perrier,Dominique,Medium
10,10223,37,100.00,1,3965.66,2/20/2004 0:00,Shipped,1,2,2004,...,03 9520 4555,636 St Kilda Road,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
11,10237,23,100.00,7,2333.12,4/5/2004 0:00,Shipped,2,4,2004,...,2125551500,2678 Kingston Rd.,NYC,NY,10022,USA,N/A,Frick,Michael,Small
12,10251,28,100.00,2,3188.64,5/18/2004 0:00,Shipped,2,5,2004,...,2015559350,7476 Moss Rd.,Newark,NJ,94019,USA,N/A,Brown,William,Medium
13,10263,34,100.00,2,3676.76,6/28/2004 0:00,Shipped,2,6,2004,...,2035552570,25593 South Bay Ln.,Bridgewater,CT,97562,USA,N/A,King,Julie,Medium
14,10275,45,92.83,1,4177.35,7/23/2004 0:00,Shipped,3,7,2004,...,40.67.8555,"67, rue des Cinquante Otages",Nantes,N/A,44000,France,EMEA,Labrune,Janine,Medium
15,10285,36,100.00,6,4099.68,8/27/2004 0:00,Shipped,3,8,2004,...,6175558555,39323 Spinnaker Dr.,Cambridge,MA,51247,USA,N/A,Hernandez,Marta,Medium
16,10299,23,100.00,9,2597.39,9/30/2004 0:00,Shipped,3,9,2004,...,90-224 8555,Keskuskatu 45,Helsinki,N/A,21240,Finland,EMEA,Karttunen,Matti,Small
17,10309,41,100.00,5,4394.38,10/15/2004 0:00,Shipped,4,10,2004,...,07-98 9555,Erling Skakkes gate 78,Stavern,N/A,4110,Norway,EMEA,Bergulfsen,Jonas,Medium
18,10318,46,94.74,1,4358.04,11/2/2004 0:00,Shipped,4,11,2004,...,2155551555,7586 Pompton St.,Allentown,PA,70267,USA,N/A,Yu,Kyung,Medium
19,10329,42,100.00,1,4396.14,11/15/2004 0:00,Shipped,4,11,2004,...,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,N/A,Yu,Kwai,Medium
20,10341,41,100.00,9,7737.93,11/24/2004 0:00,Shipped,4,11,2004,...,6562-9555,Geislweg 14,Salzburg,N/A,5020,Austria,EMEA,Pipps,Georg,Large
21,10361,20,72.55,13,1451.00,12/17/2004 0:00,Shipped,4,12,2004,...,+61 2 9495 8555,"Monitor Money Building, 815 Pacific Hwy",Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small
22,10375,21,34.91,12,733.11,2/3/2005 0:00,Shipped,1,2,2005,...,40.67.8555,"67, rue des Cinquante Otages",Nantes,N/A,44000,France,EMEA,Labrune,Janine,Small
23,10388,42,76.36,4,3207.12,3/3/2005 0:00,Shipped,1,3,2005,...,5085552555,1785 First Street,New Bedford,MA,50553,USA,N/A,Benitez,Violeta,Medium
24,10403,24,100.00,7,2434.56,4/8/2005 0:00,Shipped,2,4,2005,...,(171) 555-2282,Berkeley Gardens 12 Brewery,Liverpool,N/A,WX1 6LT,UK,EMEA,Devon,Elizabeth,Small
25,10417,66,100.00,2,7516.08,5/13/2005 0:00,Disputed,2,5,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,N/A,28034,Spain,EMEA,Freyre,Diego,Large
26,10103,26,100.00,11,5404.62,1/29/2003 0:00,Shipped,1,1,2003,...,07-98 9555,Erling Skakkes gate 78,Stavern,N/A,4110,Norway,EMEA,Bergulfsen,Jonas,Medium
27,10112,29,100.00,1,7209.11,3/24/2003 0:00,Shipped,1,3,2003,...,0921-12 3555,Berguvsvgen 8,Lule,N/A,S-958 22,Sweden,EMEA,Berglund,Christina,Large
28,10126,38,100.00,11,7329.06,5/28/2003 0:00,Shipped,2,5,2003,...,(91) 555 22 82,"C/ Araquil, 67",Madrid,N/A,28023,Spain,EMEA,Sommer,Mart¡n,Large
29,10140,37,100.00,11,7374.10,7/24/2003 0:00,Shipped,3,7,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,N/A,Hirano,Juri,Large
30,10150,45,100.00,8,10993.50,9/19/2003 0:00,Shipped,3,9,2003,...,+65 221 7555,"Bronz Sok., Bronz Apt. 3/6 Tesvikiye",Singapore,N/A,79903,Singapore,Japan,Natividad,Eric,Large
31,10163,21,100.00,1,4860.24,10/20/2003 0:00,Shipped,4,10,2003,...,2125558493,5905 Pompton St.,NYC,NY,10022,USA,N/A,Hernandez,Maria,Medium
32,10174,34,100.00,4,8014.82,11/6/2003 0:00,Shipped,4,11,2003,...,61-7-3844-6555,31 Duncan St. West End,South Brisbane,Queensland,4101,Australia,APAC,Calaghan,Tony,Large
33,10183,23,100.00,8,5372.57,11/13/2003 0:00,Shipped,4,11,2003,...,2155554695,782 First Street,Philadelphia,PA,71270,USA,N/A,Cervantes,Francisca,Medium
34,10194,42,100.00,11,7290.36,11/25/2003 0:00,Shipped,4,11,2003,...,78.32.5555,"2, rue du Commerce",Lyon,N/A,69004,France,EMEA,Saveley,Mary,Large
35,10206,47,100.00,6,9064.89,12/5/2003 0:00,Shipped,4,12,2003,...,(604) 555-3392,1900 Oak St.,Vancouver,BC,V3F 2K1,Canada,N/A,Tannamuri,Yoshi,Large
36,10215,35,100.00,3,6075.30,1/29/2004 0:00,Shipped,1,1,2004,...,3105553722,3675 Furth Circle,Burbank,CA,94019,USA,N/A,Thompson,Steve,Medium
37,10228,29,100.00,2,6463.23,3/10/2004 0:00,Shipped,1,3,2004,...,6175555555,4658 Baden Av.,Cambridge,MA,51247,USA,N/A,Tseng,Kyung,Medium
38,10245,34,100.00,9,6120.34,5/4/2004 0:00,Shipped,2,5,2004,...,2035559545,567 North Pendale Street,New Haven,CT,97823,USA,N/A,Murphy,Leslie,Medium
39,10258,32,100.00,6,7680.64,6/15/2004 0:00,Shipped,2,6,2004,...,+81 3 3584 0555,2-2-8 Roppongi,Minato-ku,Tokyo,106-0032,Japan,Japan,Shimamura,Akiko,Large
40,10270,21,100.00,9,4905.39,7/19/2004 0:00,Shipped,3,7,2004,...,+61 2 9495 8555,"Monitor Money Building, 815 Pacific Hwy",Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
41,10280,34,100.00,2,8014.82,8/17/2004 0:00,Shipped,3,8,2004,...,011-4988555,Via Monte Bianco 34,Torino,N/A,10100,Italy,EMEA,Accorti,Paolo,Large
42,10291,37,100.00,11,7136.19,9/8/2004 0:00,Shipped,3,9,2004,...,0695-34 6555,?kergatan 24,Boras,N/A,S-844 67,Sweden,EMEA,Larsson,Maria,Large
43,10304,47,100.00,6,10172.70,10/11/2004 0:00,Shipped,4,10,2004,...,30.59.8555,"67, avenue de l'Europe",Versailles,N/A,78000,France,EMEA,Tonini,Daniel,Large
44,10312,48,100.00,3,11623.70,10/21/2004 0:00,Shipped,4,10,2004,...,4155551450,5677 Strong St.,San Rafael,CA,97562,USA,N/A,Nelson,Valarie,Large
45,10322,40,100.00,1,6000.40,11/4/2004 0:00,Shipped,4,11,2004,...,6035558647,2304 Long Airport Avenue,Nashua,NH,62005,USA,N/A,Young,Valarie,Medium
46,10333,26,100.00,3,3003.00,11/18/2004 0:00,Shipped,4,11,2004,...,6505555787,5557 North Pendale Street,San Francisco,CA,N/A,USA,N/A,Murphy,Julie,Medium
47,10347,30,100.00,1,3944.70,11/29/2004 0:00,Shipped,4,11,2004,...,03 9520 4555,636 St Kilda Road,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
48,10357,32,100.00,10,5691.84,12/10/2004 0:00,Shipped,4,12,2004,...,4155551450,5677 Strong St.,San Rafael,CA,97562,USA,N/A,Nelson,Valarie,Medium
49,10369,41,100.00,2,4514.92,1/20/2005 0:00,Shipped,1,1,2005,...,6175558555,7825 Douglas Av.,Brickhaven,MA,58339,USA,N/A,Nelson,Allen,Medium

In [118]:
#Remove Dupicates
df.drop_duplicates(inplace=True)

In [119]:
#Standardize Text and Clean Columns
# Standardize column names
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

# Example: Strip and lowercase all string columns
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str).str.strip().str.lower()

In [120]:
print(df.columns.tolist())

['ordernumber', 'quantityordered', 'priceeach', 'orderlinenumber', 'sales', 'orderdate', 'status', 'qtr_id', 'month_id', 'year_id', 'productline', 'msrp', 'productcode', 'customername', 'phone', 'addressline1', 'city', 'state', 'postalcode', 'country', 'territory', 'contactlastname', 'contactfirstname', 'dealsize']

In [121]:
#Convert Date Columns
#df['orderdate'] = pd.to_datetime(df['orderdate'], errors='coerce', dayfirst=True)
df['orderdate'] = pd.to_datetime(df['orderdate'], errors='coerce', dayfirst=False)

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ordernumber       2823 non-null   int64
 1   quantityordered   2823 non-null   int64
 2   priceeach         2823 non-null   float64
 3   orderlinenumber   2823 non-null   int64
 4   sales             2823 non-null   float64
 5   orderdate         2823 non-null   datetime64[ns]
 6   status            2823 non-null   object
 7   qtr_id            2823 non-null   int64
 8   month_id          2823 non-null   int64
 9   year_id           2823 non-null   int64
 10  productline       2823 non-null   object
 11  msrp              2823 non-null   int64
 12  productcode       2823 non-null   object
 13  customername      2823 non-null   object
 14  phone             2823 non-null   object
 15  addressline1      2823 non-null   object
 16  city              2823 non-null   object
 17  state             2823 non-null   object
 18  postalcode        2823 non-null   object
 19  country           2823 non-null   object
 20  territory         2823 non-null   object
 21  contactlastname   2823 non-null   object
 22  contactfirstname  2823 non-null   object
 23  dealsize          2823 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(7), object(14)
memory usage: 529.4+ KB

In [123]:
df.to_csv('cleaned_sales_data.csv', index=False)